<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CloudShoppingSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD4E9DA51EB8887D00E41014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD4E9DBE1EB8887D00E41014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD4E9DC91EB8887D00E41014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
